* {
  margin: 0;
}
body {
  box-sizing: border-box;

  font-family: "roboto";
}

.titulo {
  width: 100%;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo-menu2 {
  display: flex;
  justify-content: center;
}
.titulo-menu2 a {
  text-decoration: none;
  color: black;
}
.titulo-menu1 {
  width: 100%;
  font-weight: 700;
}
.fonteMaior{
  font-size:large
}
.fonteMenor{
  font-size: 15px
}
.titulo-menu2 button {
  height: 40px;
  margin: 5px;
  font-size: large;
  border: none;
  text-decoration: none;
}
.titulo-menu2 button:hover {
  background-color: rgb(167, 120, 34);
  cursor: pointer;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  font-size: larger;
  max-width: 1200px;
  justify-content: center;
}
.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-meio {
  width: 450px;
  height: 280px;
  margin: 20px;
  background-position: center;
  background-size: cover;
}
#fachada_interna {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;

}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .body {
    width: 400px;
  }
  .container {
    display: block;
  }
  .container-meio {
    width: 350px;
  }
  .container2 {
    width: 400px;
  }
  .titulo {
    width: 400px;
  }
  .titulo button {
    height: 60px;
  }
}
