* {
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "roboto";
  width: 100%;
  justify-items: center;
  
  
}
.container2 a{
  text-decoration: underline;
}
.container2 {
  
  text-align: justify;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

h2 {
  text-align: center;
}

.fonteMaior {
  font-size: 18px;
}
.fonteMedio {
  font-size: 16px;
}
.fonteMenor {
  font-size: 13px;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.red {
  color: red;
  font-weight: 500;
}
.corPreta {
  background-color: rgb(73, 73, 73);
}
.video{
  width: 480px;
}
.corCinza {
  background-color: rgb(198, 198, 198);
}
.paragrafo {
  background-color: rgb(244, 244, 244);
  width: 500px;
  margin: 20px;
  padding: 30px;
  font-size: large;
}
.paragrafo button {
  align-items: center;
  height: 40px;
  width: 300px;
}
.google2 {
  border-bottom: 1px solid gray;
  padding: 10px;
}
.google {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 50px;
  display: flex;
}
.google:hover {
  background-color: rgb(236, 236, 236);
}
.google_esquerda {
  float: left;
  width: 70%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 600px;
}
.login2 {
  text-align: center;
}


button {
  background-color: green;
  font-size: medium;
}
button:hover {
  background-color: rgb(186, 222, 186);
  font-size: medium;
}
#meuForm {
  background-color: green;
  font-size: medium;
  height: 40px;
  width: 250px;
}
.imagens {
  width: 500px;
}
.centralizador {
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .video{
    width: 310px;
  }
  .paragrafo {
    width: 80%;
  }
  .imagens {
    width: 300px;
  }
}
